.container {
    display: grid;
    grid-gap: 0.0rem;
    width: 50%;
    margin: 30px auto 0 auto;
    border: 1px solid rgba(43, 43, 43, 0.123);
    border-radius: 6px;
    background-color: rgba(226, 226, 226, 0.438);
    padding: 20px;
}

.div {
    border-radius: 1px;
    transition: 10ms;
}

.div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.button {
    border-radius: 5px;
    border: 1px solid pink;
    background-color: rgba(88, 14, 57, 0.2);
    font-weight: 600;
    margin: 10px auto 10px auto;
    width: 50%;
    height: 30px;
    display: block;
}

.button:focus {
    outline: none;
}